# Python / Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Data & Model Artifacts
data/processed/*
!data/processed/.gitkeep
data/raw/*.csv
!data/raw/student_data.csv

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
